CASSANDRA_USER=user
CASSANDRA_PASSWORD=password
CASSANDRA_KEYSPACE=ohmyurl
CASSANDRA_DB=url
CASSANDRA_CLUSTERS=ohmyurl-cassandra-1:9042,ohmyurl-cassandra-2:9042,ohmyurl-cassandra-3:9042
LISTEN_PORT_CREATE=8080
LISTEN_PORT_FORWARD=8081
FORWARD_DOMAIN=http://localhost/
CREATE_DOMAIN=http://127.0.0.1